body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  /* line-height: 2; */
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}

hr {
  /* border-style: dotted none none;
  border-width: 8px;
  border-color: #EAF6F6; */
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
    line-height: 2;

}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}



.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}






.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #11999E 0px;
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #11999E);
  background-image: -moz-linear-gradient(top, #11999E, #11999E);
  background-image: -ms-linear-gradient(top, #11999E, #11999E);
  background-image: -o-linear-gradient(top, #11999E, #11999E);
  background-image: linear-gradient(to bottom, #11999E, #11999E);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.code-img {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.chilli-img {
  width: 25%;
  margin-left: 30px;
  float: right;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;

}
.copyright-message{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.fotter-link {
  color: #11999E;
  border: 50px;
  padding: 50px auto 50px;

}

.intro {
  width: 30%;
  margin: auto;
}
.middle-container {
  margin: 100px 0;
}
.pro {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
}
.small-profile-icons{
  width: 2rem;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.top-container {
  background-color: #e0ece4;
  position: relative;
  padding-top: 100px;
}
